app1.updateDate=14/01/2026
app1.name=Intel(R) Wireless Bluetooth(R)-23.170.0.3
app1.id=
app1.version=23.170.0.3
app1.description=Driver Intel(R) Wireless Bluetooth(R)
app1.type=
app1.downloadUri=https://repositivo.indt.org.br/drivers/C8400/Intel%28R%29%20Wireless%20Bluetooth%28R%29-23.170.0.3.exe
app1.installArguments=
app1.uninstallArguments=
app1.repairArguments=
app1.criticalUpdate=False
app1.installerChecksum=3E62D83DDC8DD774CEE0CAD69AF68FE9C2BBC48CA7FA7ED526EF3F357DBC3F13
app1.executableFileName=Intel(R) Wireless Bluetooth(R)-23.170.0.3
app1.icon=
app1.screenshot=
app1.uniqueId=Intel(R) Wireless Bluetooth(R)-23.170.0.3
app1.isRecommended=False
app1.showShortcut=False
app1.hiddenInstaller=False
app1.classIdFilter=e0cbf06c-cd8b4647-bb8a-263b43f0f974
app1.installType=DriverAsApplication
app1.depends=
app1.machineModel.architetureOS=*
app1.machineModel.biosSerialNumber=*
app1.machineModel.biosVersion=*
app1.machineModel.clientVersion=*
app1.machineModel.machineType=desktop
app1.machineModel.name=C8400
app1.machineModel.oSLanguage=*
app1.machineModel.operatingSystem=*
app1.machineModel.numberBuildOS=*
app1.machineModel.systemManufacturer=*
app1.machineModel.brandComputer=*
app1.machineModel.fileIdentify=*
app1.driverHardwareId=USB\VID_8087&PID_0026&REV_0002
app1.driverManufacturer=Intel Corporation
app1.infName=ibtusb.inf
app1.criticCount=0
app2.updateDate=14/01/2026
app2.name=Intel RST VMD Managed Controller 09AB-20.2.6.1025
app2.id=
app2.version=20.2.6.1025
app2.description=Intel RST VMD Managed Controller
app2.type=
app2.downloadUri=https://repositivo.indt.org.br/drivers/C8400/Intel%20RST%20VMD%20Managed%20Controller%2009AB-20.2.6.1025.exe
app2.installArguments=
app2.uninstallArguments=
app2.repairArguments=
app2.criticalUpdate=False
app2.installerChecksum=09AEB4E094DF1C635D7224C5E7FB19815490E49EC2C3F519FECAD2113F77FE5A
app2.executableFileName=Intel RST VMD Managed Controller 09AB-20.2.6.1025
app2.icon=
app2.screenshot=
app2.uniqueId=Intel RST VMD Managed Controller
app2.isRecommended=False
app2.showShortcut=False
app2.hiddenInstaller=False
app2.classIdFilter=4d36e97b-e325-11ce-pfc1-08002be10318
app2.installType=DriverAsApplication
app2.depends=
app2.machineModel.architetureOS=*
app2.machineModel.biosSerialNumber=*
app2.machineModel.biosVersion=*
app2.machineModel.clientVersion=*
app2.machineModel.machineType=desktop
app2.machineModel.name=*
app2.machineModel.oSLanguage=*
app2.machineModel.operatingSystem=*
app2.machineModel.numberBuildOS=*
app2.machineModel.systemManufacturer=*
app2.machineModel.brandComputer=*
app2.machineModel.fileIdentify=*
app2.driverHardwareId=PCI\VEN_8086&DEV_09AB&SUBSYS_00000000&REV_00
app2.driverManufacturer=Intel Corporation
app2.infName=iastorvd.inf
app2.criticCount=0
app3.updateDate=14/01/2026
app3.name=Intel(R) Wi-Fi 6 AX201 160MHz-23.170.0.1
app3.id=
app3.version=23.170.0.1
app3.description=Intel(R) Wi-Fi 6 AX201 160MHz
app3.type=
app3.downloadUri=https://repositivo.indt.org.br/drivers/C8400/Intel%28R%29%20Wi-Fi%206%20AX201%20160MHz-23.170.0.1.exe
app3.installArguments=
app3.uninstallArguments=
app3.repairArguments=
app3.criticalUpdate=False
app3.installerChecksum=079CC6E27082A9139B59CE4134CF4DEAE0F442690DC75958FEC4AEC3442A1D18
app3.executableFileName=Intel(R) Wi-Fi 6 AX201 160MHz-23.170.0.1.exe
app3.icon=
app3.screenshot=
app3.uniqueId=Intel(R) Wi-Fi 6 AX201 160MHz
app3.isRecommended=False
app3.showShortcut=False
app3.hiddenInstaller=False
app3.classIdFilter=4d36e972-e325-11ce-bfc1-08002be10318
app3.installType=DriverAsApplication
app3.depends=
app3.machineModel.architetureOS=*
app3.machineModel.biosSerialNumber=*
app3.machineModel.biosVersion=*
app3.machineModel.clientVersion=*
app3.machineModel.machineType=desktop
app3.machineModel.name=*
app3.machineModel.oSLanguage=*
app3.machineModel.operatingSystem=*
app3.machineModel.numberBuildOS=*
app3.machineModel.systemManufacturer=*
app3.machineModel.brandComputer=*
app3.machineModel.fileIdentify=*
app3.driverHardwareId=PCI\VEN_8086&DEV_7AF0&SUBSYS_00708086&REV_11
app3.driverManufacturer=Intel Corporation
app3.infName=netwtw08.inf
app3.criticCount=0
